<configuration>
	<appender name="TEST_APPENDER" class="com.dtforce.tools.logging.TestingAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.dtforce.tools.logging.GoogleCloudLoggingV2Layout">
				<jsonFormatter class="com.dtforce.tools.logging.GSONJsonFormatter"/>
			</layout>
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="TEST_APPENDER" />
	</root>
</configuration>
